<p>I am outside custom directive</p>
<p custombg>
  usedirective works!
</p>
<h3 >Inbuilt Directives</h3>

<!-- <div *ngIf="friends.length > 0"> List of friends
  <ul>
    <li *ngFor="let f of friends">{{f}}</li>
  </ul>
</div>
<div *ngIf="friends.length == 0">
  No Friends
</div> -->
<h2>ngIf Directive</h2>
<div *ngIf="friends.length > 0; then yesFriends else noFriends"> </div>
<ng-template #yesFriends>
  List of friends
  <ul>
    <li *ngFor="let f of friends">{{f}}</li>
  </ul>
</ng-template>

<ng-template #noFriends>
  No Friends
</ng-template>

<h2>ngSwitchCase Directive</h2>
<span  [class.active]="scores==5"><a (click)="scores=5">5</a></span> &nbsp;
<span  [class.active]="scores==10"><a (click)="scores=10">10</a></span> &nbsp;
<span  [class.active]="scores==15"><a (click)="scores=15">15</a></span> &nbsp; <br>

<input type="number" [(ngModel)] = "scores" min="0" max="15" step="5"> {{scores}}


<div [ngSwitch]="scores">
  <div *ngSwitchCase="5" custombg> Your score is 5</div>
  <div *ngSwitchCase="10" custombg> Your score is 10</div>
  <div *ngSwitchCase="15" custombg> Your score is 15</div>
  <div *ngSwitchDefault custombg>Please input valid score!!!</div>
</div>

